{% extends "base.html" %}

{% block title %}Eaux{% endblock %}

{% block expl_active_bar %}active{% endblock %}

{% block header %}
    <header class="bg-info py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="font-weight-bold">Les flux d'eaux</h1>
            </div>
        </div>
    </header>
{% endblock%}

{% block content %}

    <h2></h2>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class="shadow-lg bg-white rounded">
        <div class="chart" id="bargraph">
            <script>
            var graphs3 = {{graph_eaux | safe}};
            Plotly.plot('bargraph',graphs3,{});


            </script>
        </div>
    </div>

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <p>Les données collectées proviennent du site climate-data.org et du compteur d'eau, elles sont obtenues en
            multipliant la quantité en mm d'eau tombée par la taille du terrain.</p>
        <p>Les eaux pluviales seront utilisés au niveau des cultures mais également pour remplir un bassin de rétention
            de 22.0 m3</p>
    </div>



{% endblock %}