{% extends "base.html" %}

{% block title %}Eaux{% endblock %}

{% block expl_active_bar %}active{% endblock %}

{% block header %}
    <header class="bg-info py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="font-weight-bold">Eaux</h1>
            </div>
        </div>
    </header>
{% endblock%}

{% block content %}

    <h2>Les flux d'eaux</h2>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class="chart" id="bargraph">
        <script>
            var graphs3 = {{graph_eaux | safe}};
            Plotly.plot('bargraph',graphs3,{});
        </script>
    </div>
    <p>Blabla eaux</p>



{% endblock %}