{% extends "base.html" %}

{% block title %}Electricité{% endblock %}

{% block energies_active_bar %}active{% endblock %}

{% block header %}
    <header class="masthead" style="background-color: #0C6EAB;>
                <div class=" container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
                <h1 align="center">Electricité</h1>
            </div>
        </div>
    </div>
    </div>
    </header>
{% endblock %}

{% block content %}
    <h2>Les flux d'électricité</h2>
    <div class="chart" id="bargraph">
        <script>
            var graphs2 = {{ graph_elec | safe }};
            Plotly.plot('bargraph',graphs2,{});

        </script>
    </div>
    <p>Blabla elec</p>
    <hr/>


{% endblock %}