{% extends "base.html" %}

{% block title %}Electricité{% endblock %}

{% block energies_active_bar %}active{% endblock %}

{% block header %}
    <header class="bg-info py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="font-weight-bold">Les flux d'électricité</h1>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <h2></h2>
    <div class="chart" id="bargraph">
        <script>
            var graphs2 = {{ graph_elec | safe }};
            Plotly.plot('bargraph',graphs2,{});

        </script>
    </div>
    <p>Blabla elec</p>
    <hr/>


{% endblock %}