{% extends "base.html" %}

{% block title %}Exploration{% endblock %}

{% block expl_active_bar %}active{% endblock %}

{% block header %}
            <header class="masthead" style="background-color: #0C6EAB;>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="page-heading">
                                <h1 align="center">Exploration</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
{% endblock%}

{% block content %}
    <p>Pour fonctionner, le Présage importe des matériaux, produits finis et de l'électricité pour répondre aux besoins
        quotidiens et usages courants de la structure: alimentation, électricité, chaleur, froid, biens de consommation.
        Le Présage génère par ailleurs des déchets, qu’il faut collecter et éliminer.
        Ces flux entrants et sortants ont des impacts économiques et environnementaux forts : importations de matières,
        perte de valeur économique des déchets qui sortent du Présage sans être valorisés, émissions atmosphériques.
        L'étude de ces flux et de ces stocks est ce que l'on appelle l'étude du <b>métabolisme</b>.
        Mieux connaître ces flux entrants, sortants ou stockés, permet d'accroître la connaissance du fonctionnement de
        la guinguette et de mieux gérer ses ressources.
    </p>



{% endblock %}