{% extends "base.html" %}

{% block title %}Matières{% endblock %}

{% block expl_active_bar %}active{% endblock %}

{% block header %}
    <header class="bg-info py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="font-weight-bold">Les flux de matières</h1>
            </div>
        </div>
    </header>
{% endblock%}

{% block content %}


    <h2></h2>
    <div class="shadow-lg bg-white rounded">
        <div class="chart" id="bargraph">
            <script>
            var graphs1 = {{graph_matieres | safe}};
            Plotly.plot('bargraph',graphs1,{});



            </script>
        </div>
    </div>

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <p>Le poids de matières premières entrantes a été calculé à partir des différentes commandes effectuées par le
            restaurant. Parmi cela, on retrouve les différents aliments de base (fruits, légumes, aromates, oeufs,
            etc...) et boissons (vins et bières). Les quantités journalières ont ensuite été sommées afin d'obtenir un
            total sur un mois.</p>
        <p>En ce qui concerne les émissions de gaz à effet de serre, nous nous sommes aidés d’une étude réalisée par
            l’organisme ADEME. Ils ont étudié l’impact d’ingrédients, de plats, et même de menus en termes de kilogramme
            de CO2 émis par kilogramme sorti du magasin. Nous nous sommes concentrés sur le CO2 comme seul gaz à effet
            de serre émis. En partant des menus mis en place par la Guinguette Solaire depuis début Mai et en utilisant
            les données de fréquentation du site (clients+personnel), nous avons pu calculer les émissions de GES de la
            Guinguette Solaire sur ces deux mois. </p>
    </div>






{% endblock %}