{% extends "base.html" %}

{% block title %}Matières{% endblock %}

{% block expl_active_bar %}active{% endblock %}

{% block header %}
    <header class="bg-info py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="font-weight-bold">Matières</h1>
            </div>
        </div>
    </header>
{% endblock%}

{% block content %}


    <h2>Les flux de matières</h2>
    <div class="chart" id="bargraph">
        <script>
            var graphs1 = {{graph_matieres | safe}};
            Plotly.plot('bargraph',graphs1,{});
        </script>
    </div>
    <p>Blabla</p>






{% endblock %}