{% extends "base.html" %}

{% block pres_active_bar %}active{% endblock %}

{% block title %}Présentation du projet{% endblock %}

{% block header %}
            <header class="masthead" style="background-color: #0C6EAB;>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="page-heading">
                                <h1 align="center">Présentation du projet</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
{% endblock%}

{% block content %}
    <!-- Content -->
    <h2>Objectifs du projet</h2>
    <p>Ce projet a pour but de modéliser les flux entrants / sortants d'eau, de matière et d'électricité de la
        Guiguette Solaire. Ceci permettra de mieux appréhender le fonctionnement du lieu et donc d'en déduire les
        avantages et inconvénients d'un tel projet.</p>
    <h2>L'Équipe</h2>
    <p>Notre équipe est constituée de 5 étudiants de Centrale Marseille. Clément, le chef de projet, est en contact avec
        l'équipe du restaurant et coordonne le travail du groupe. Clémence et Basile se chargent de la récolte des
        données et de l'analyse de ces dernières. Enfin, Léo et Arthur s'occupent de la présentation et du web
        design.</p>
    <h2>Déroulement du projet</h2>
    <p>Pour réaliser notre projet nous avons comme objectif de collecter des données puis de les analyser sous forme
        pour finalement modéliser les flux entrants et sortants sous forme de diagrammes intéractifs.</p>
    <figure class="figure-img">
        <img class="figure-img img-fluid rounded" src="{{url_for('static', filename='img/artist-view.jpg')}}" alt="..." />
        <br>
        <figcaption class="figure-caption text-center">Vue d’artiste du projet Le Présage, dessiné par Olivier Nattes</figcaption>
    </figure>

{% endblock %}